/* .App {
  text-align: center;
} */

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #282c34;
}

.App-logo {
  margin-top: 20vh;
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

h2{
  display: block;
  position: absolute;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  @media (max-width: 767px) {
    left: 20%;
    font-size: calc(10px + 2vmin); /* Add spacing between buttons on smaller screens */
    /* Add specific mobile styles here */
  }
}

.btn-group{
  margin-top: 550px;
  @media (max-width: 767px) {
    margin-top: 450px; 
  }
}

button{
  position: absolute;
  display: flex;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  justify-content: center;
}

.btn-yes{
  left: 750px;
  width: 100px;
  height: 40px;
  font-size: calc(10px + 1vmin);
  @media (max-width: 767px) {
    left: 80px; 
  }
}

.btn-no{
  right: 850px;
  width: 100px;
  height: 40px;
  font-size: calc(10px + 1vmin);
  @media (max-width: 767px) {
    right: 30px; 
  }
}

.watermark{
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: whitesmoke;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
